header{
    background-color: #6b5f78;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    border-style: ridge;
    padding: -50px;
    border-width: 10px;
    margin: 10px 50px 0 50px;

   
        
}
#blok{
    text-decoration-line: none;

    color: rgb(255, 255, 255);
    background-color: #ba76d1;
    padding: 30px;
    border-radius: 100%;
    font-size: 18px;
    margin: 50px;
    
}
#blok:hover{
    background-color: #dcbbf1 ;
}
#blok2:hover{
    background-color: #dcbbf1;
}
    

#blok2{
    text-decoration-line: none;

    color: rgb(255, 255, 255);
    background-color: #ba76d1;
    padding: 30px;
    border-radius: 100%;
    font-size: 24px;
    margin: 40px;
}
body{
    background-color: #f2cbff;
}
.content{
   
    text-align: center ;
    align-items: center ;
    justify-content: center;
    border-style: ridge;
    margin: 70px;
    background-color: #6b5f78;

}




   